:root {
    --main-bg-color: rgb(49, 102, 207);
    --main-txt-color: white;
    --secondary-bg-color: rgb(31, 82, 184);
    --secondary-txt-color: rgb(233, 244, 250);
    --black-color:rgba(0, 0, 0, 0.1);
    --main-red-color:rgb(251, 67, 67);
    --secondary-red-color:rgb(204, 16, 16);
}


body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    text-align: center;
    text-transform: uppercase;
    padding: 0.1px;
}

nav {
    background-color: var(--secondary-bg-color); /* Blanc */
    display: flex;
    justify-content: center;
}
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: var(--main-txt-color);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--main-bg-color); /* Bleu-gris au survol */
}

.container {
    padding: 20px;
}

.tab-content {
    background-color: var(--secondary-txt-color); /* Gris clair */
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--black-color);
}

footer {
    background-color: var(--main-bg-color); /* Bleu */
    color: var(--main-txt-color);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-logo {
    align-items: center;
    justify-content: center;
    max-width: 100px;
    margin-bottom: 10px;
    size: 50px;
}


.social-media-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    width: 24px;
    height: 24px;
}

.footer-right {
    margin-left: auto;
}

button {
    background-color: var(--main-bg-color); /* Bleu */
    color: var(--main-txt-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: var(--secondary-bg-color); /* Bleu plus foncé au survol */
}

#errorDiv {
    background-color: #ffcccc; /* Couleur de fond rouge clair */
    color: var(--main-red-color); /* Couleur du texte rouge foncé */
    padding: 10px; /* Espacement intérieur */
    margin-bottom: 10px; /* Marge en bas pour l'espacement avec d'autres éléments */
    border: 1px solid var(--main-red-color); /* Bordure rouge foncé */
    border-radius: 5px; /* Coins arrondis */
}

/* Style pour les liens rouges */
.red-link {
    color: var(--main-red-color);
    text-decoration: underline;
    cursor: pointer;
}


/* Style de base pour les liens stylisés en tant que boutons */
.blue_button {
    color: var(--main-bg-color); /* Couleur du texte */
    background-color: transparent; /* Fond transparent par défaut */
    border: 1px solid var(--main-bg-color); /* Bordure avec la couleur du texte */
    padding: 8px 16px; /* Espacement interne */
    cursor: pointer; /* Curseur indiquant que c'est interactif */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transitions fluides */
}

/* Style au survol */
.blue_button:hover {
    color: var(--main-txt-color); /* Nouvelle couleur du texte lors du survol */
    background-color: var(--secondary-bg-color); /* Nouvelle couleur de fond lors du survol */
}


/* Style de base pour les liens stylisés en tant que boutons */
.red_button {
    color: var(--secondary-red-color); /* Couleur du texte */
    background-color: transparent; /* Fond transparent par défaut */
    border: 1px solid var(--secondary-red-color); /* Bordure avec la couleur du texte */
    padding: 8px 16px; /* Espacement interne */
    cursor: pointer; /* Curseur indiquant que c'est interactif */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transitions fluides */
}

/* Style au survol */
.red_button:hover {
    color: var(--main-txt-color); /* Nouvelle couleur du texte lors du survol */
    background-color: var(--main-red-color); /* Nouvelle couleur de fond lors du survol */
}

.pool-status {
    display: flex;
    flex-direction: column;
}

.data-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.data-label {
    font-weight: bold;
    margin-right: 10px;
}

.data-value {
    font-style: italic;
}

/* Exemple d'icônes */
.data-label::after {
    content: " :";
}

.data-value::before {
    content: url('icon.png');
    margin-right: 5px;
    height: 20px; /* Ajustez la taille de l'icône au besoin */
    width: 20px;
}